[mcu eddy]
canbus_uuid: f016a381c73d # This is the serial address of your eddy probe. This can be found by using the terminal of your klipper instance (typically through SSH) and using the command ```ls /dev/serial/by-id``` 

[temperature_sensor Eddy-Duo]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 0
max_temp: 100

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
i2c_speed: 4000000
x_offset: 0                  # Coordenadas com base no show Carrier / Archetype 4T
y_offset: 25
samples: 3
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 3
descend_z: 0.5


# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 5
calibration_extruder_temp: 170
calibration_bed_temp: 110
extruder_heating_z: 50

# [bed_mesh]
# horizontal_move_z: 2
# speed: 200
# mesh_min: 20, 20  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
# mesh_max: 280, 280 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
# probe_count: 12, 12
# algorithm: bicubic
# #scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.


###############################Macros and related################################
#This secton contains macros and related config sections. Some should be used, others are optional. Read the comment above each one to find out whether or not to uncomment it for your installation.

# Uncomment this if you are using Eddy as the probe AND the homing endstop AND would like to use the beta z-offset control
# [save_variables]
# filename:  /home/biqu/printer_Trident_data/config/variables.cfg

# Uncomment this if you are using Eddy as the probe AND the homing endstop
[force_move]
enable_force_move: True # Allows a user to move the z axis down if they have no other means of homing Z and need to calibrate the Eddy.


# This macro automates a lot of the frequency mapping process and simplifies the steps significantly.
[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
  BED_MESH_CLEAR
  G28 X Y
  G90 # Abs positioning
  G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
  {% if 'z' not in printer.toolhead.homed_axes %}
    SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
  {% endif %}
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}