#####################################################################
#    MONITORAMENTO DE TEMPERATURAS
#####################################################################

[temperature_sensor Fly-D7]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 90

[temperature_sensor Host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#    AQUECIMENTO DA MESA
#####################################################################
[heater_bed]
heater_pin: PC7
sensor_type: Generic 3950
sensor_pin: PC0
max_power: 0.8
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 120               # Evita falsos gatilhos de aquecimento lento
check_gain_time: 60
hysteresis: 5
heating_gain: 2

#####################################################################
#    FAN DA ELETRÔNICA
#####################################################################
[controller_fan cooler_eletronica]
pin: PC8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z
idle_timeout: 30
fan_speed: 0.6
