#####################################################################
# Macros Euclid Probe - Voron Trident
#####################################################################

[gcode_macro PEGAR_SONDA]
gcode:
    G90
    G1 Z15 F600           
    QUERY_PROBE           
    _CHECK_PROBE_PICKUP

[gcode_macro _CHECK_PROBE_PICKUP]
gcode:
    # Se estiver TRIGGERED (last_query = True), significa que ESTÁ NA DOCK.
    # Então vamos buscar.
    {% if printer.probe.last_query %}
        M117 Indo buscar a sonda na dock...
        G1 X50 Y297 F10000  ; Ponto de espera
        G1 X0 F3000         ; Acopla
        G1 X50 F3000        ; Sai da trava
        G1 X150 Y150 F10000
        QUERY_PROBE
        _VERIFY_PICKUP_SUCCESS
    {% else %}
        M117 Sonda ja parece estar acoplada (circuito fechado).
    {% endif %}

[gcode_macro _VERIFY_PICKUP_SUCCESS]
gcode:
    # Agora, se funcionou, o estado tem que ter mudado para "open" (False)
    {% if printer.probe.last_query %}
        { action_raise_error("FALHA: A sonda ainda acusa TRIGGERED (não acoplou)!") }
    {% else %}
        M117 Sonda Acoplada com sucesso!
    {% endif %}

[gcode_macro GUARDAR_SONDA]
gcode:
    G90
    G1 Z15 F600
    QUERY_PROBE
    _CHECK_PROBE_DOCK

[gcode_macro _CHECK_PROBE_DOCK]
gcode:
    # Só guarda se estiver no bico (Estado "open" / last_query = False)
    {% if not printer.probe.last_query %}
        M117 Guardando Sonda na dock...
        G1 X50 Y297 F10000   
        G1 X0 F3000         
        G1 Y260 F6000       
        QUERY_PROBE
        _VERIFY_DOCK_SUCCESS
    {% else %}
        M117 Sonda ja esta na dock (ou desconectada).
    {% endif %}

[gcode_macro _VERIFY_DOCK_SUCCESS]
gcode:
    # Se soltou com sucesso, o estado tem que voltar para TRIGGERED (True)
    {% if not printer.probe.last_query %}
        { action_raise_error("FALHA: A sonda nao soltou (continua em open)!") }
    {% else %}
        M117 Sonda Guardada com sucesso!
        G1 X150 Y150 F10000
    {% endif %}