#####################################################################
#    CONFIGURAÇÕES ADICIONAIS DO SISTEMA
#####################################################################
[idle_timeout]
timeout: 2800                # Tempo de espera antes de desativar os motores (30 min)

[virtual_sdcard]
path: /home/biqu/printer_Trident_data/gcodes

[exclude_object]
