[include mainsail.cfg]
[include ebb36.cfg]

[mcu]
canbus_uuid: fdfd50e92d20

[probe]
pin: ^ebb36:PB9    # O '^' ativa o pull-up. 
# Se o QUERY_PROBE aparecer como "TRIGGERED" sem estar na mesa, tente ^!ebb36:PB9
x_offset: -3.0
y_offset: -26.0
z_offset: 0        # Calibre isso depois com PROBE_CALIBRATE
speed: 5.0
samples: 3
sample_retract_dist: 3.0
lift_speed: 10.0
samples_result: median
samples_tolerance: 0.006
samples_tolerance_retries: 3

[adxl345]
cs_pin: ebb36:PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

[heater_bed]
heater_pin: PC7
sensor_type: temperature_mcu
sensor_mcu: mcu

max_power: 0.6
min_temp: 0
max_temp: 120
control: watermark

[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^ebb36:PB8
position_endstop: 300
position_min: 0
position_max: 300
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB7
run_current: 0.900
hold_current: 0.750
interpolate: True
stealthchop_threshold: 0

[stepper_y]
step_pin: PA1
dir_pin: PA0
enable_pin: !PA2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PD2
position_endstop: 309
position_max: 309
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC3
run_current: 0.900
hold_current: 0.750
interpolate: True
stealthchop_threshold: 0

########################################
# Z Stepper Settings (Frente Esquerda)
########################################
# Motor Frente Esquerda
[stepper_z]
step_pin: PA5
dir_pin: !PA4
enable_pin: !PA6
rotation_distance: 8
microsteps: 16
endstop_pin: PA9
position_endstop: 0
position_max: 230
homing_speed: 35.0
position_min: -15

[safe_z_home]
home_xy_position: 172, 309
speed: 50

[tmc2209 stepper_z]
uart_pin: PA3
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
interpolate: True

# Motor Fundo Central
[stepper_z1]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB1
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
interpolate: True

# Motor Frente Direita
[stepper_z2]
step_pin: PC12
dir_pin: PB5
enable_pin: !PC11
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PB6
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
interpolate: True

[idle_timeout]
timeout: 1800

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

#####################################################################
# Macros Euclid Probe - Voron Trident
#####################################################################

[gcode_macro MODO_SEGURANCA]
gcode:
    G90                     ; Coordenadas absolutas
    G1 Z15 F600             ; Sobe o bico para não arrastar em nada

[gcode_macro PEGAR_SONDA]
gcode:
    MODO_SEGURANCA
    QUERY_PROBE
    # Só tenta pegar se a sonda não estiver acoplada (estiver "open")
    G1 X50 Y297 F6000       ; Ponto de espera ao lado da dock
    G1 X0 F3000             ; Move para X=0 para encaixar os imãs lateralmente
    G1 X50 F3000           ; Pequeno recuo para garantir que saiu da trava da dock
    G1 X150 Y150 F6000      ; Vai para o centro da mesa
    M117 Sonda Acoplada

[gcode_macro GUARDAR_SONDA]
gcode:
    MODO_SEGURANCA
    G1 X0 Y250 F6000        ; Alinha com a entrada da dock
    G1 Y297 F3000           ; Entra na dock pelo eixo Y
    G1 X40 F3000            ; Move para o lado (X aumenta) para desencaixar os imãs
    G1 Y200 F6000           ; Recua o Y para longe da área da dock como você pediu
    G1 X150 Y150 F6000      ; Volta para o centro
    M117 Sonda Guardada

# [gcode_macro G28]
# # Sobrescreve o Home padrão para garantir que você não bata com a sonda
# rename_existing: G28.1
# gcode:
#     G28.1 X Y               ; Home de X e Y primeiro
#     # Aqui você decide se quer pegar a sonda automaticamente para o Z
#     # PEGAR_SONDA
#     G28.1 Z                 ; Home de Z
#     # GUARDAR_SONDA


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.232
#*# pid_ki = 15.214
#*# pid_kd = 19.256
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 69.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 50.6
