#####################################################################
#    EIXO X (Motor A)
#####################################################################
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
rotation_distance: 40        # Distância percorrida em uma volta completa (Polia 20T)
microsteps: 32               # Divisão de passos para suavidade
full_steps_per_rotation: 200 # Passos nativos do motor (1.8 graus)
endstop_pin: ^ebb36:PB8      # Fim de curso conectado na EBB36
position_endstop: 300        # Posição zero lógica do X
position_min: 0
position_max: 300            # Tamanho total da mesa no X
homing_speed: 50             # Velocidade para buscar o fim de curso
homing_retract_dist: 5       # Recuo após tocar o sensor para repetir o toque
homing_positive_dir: true    # X faz home para o lado máximo (direita)

[tmc2209 stepper_x]
uart_pin: PB7
run_current: 1.200           # Corrente de operação (Amperes) - motor SIBOOR-42STH48-2404, nominal 2.4A
hold_current: 0.500          # Corrente reduzida em repouso (menos aquecimento parado)
interpolate: false           # Desativado para maior precisão de passos
stealthchop_threshold: 0     # 0 = SpreadCycle (Modo de força/precisão da Voron)
sense_resistor: 0.110        # Resistor de medição de corrente do driver

#####################################################################
#    EIXO Y (Motor B)
#####################################################################
[stepper_y]
step_pin: PA1
dir_pin: PA0
enable_pin: !PA2
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^PD2
position_endstop: 310
position_max: 311
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC3
run_current: 1.200
hold_current: 0.500
interpolate: false
stealthchop_threshold: 0
sense_resistor: 0.110

#####################################################################
#    EIXO Z (Três Motores Independentes)
#####################################################################
# Motor Frente Esquerda
[stepper_z]
step_pin: PA5
dir_pin: PA4
enable_pin: !PA6
rotation_distance: 8         # Fuso trapezoidal de 8mm de avanço
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 230            # Altura útil da impressora
position_min: -2          # Permite descer abaixo do zero para calibração inicial
homing_speed: 10             # Velocidade reduzida e segura para o Eddy Duo encontrar o metal
homing_retract_dist: 5.0
second_homing_speed: 3       # Velocidade lenta para o segundo toque de precisão


[tmc2209 stepper_z]
uart_pin: PA3
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30    # Mantém Z silencioso em repouso
interpolate: True
sense_resistor: 0.110

# Motor Fundo Central
[stepper_z1]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PB1
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
interpolate: True
sense_resistor: 0.110

# Motor Frente Direita
[stepper_z2]
step_pin: PC12
dir_pin: PB5
enable_pin: !PC11
rotation_distance: 8
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PB6
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
interpolate: True
sense_resistor: 0.110

#####################################################################
#    TESTE DE RESSONÂNCIA (Input Shaper na EBB36)
#####################################################################
[adxl345]
cs_pin: ebb36:PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20             # Centro do volume de impressão
