[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE
 G1 X151 Y115 Z5 F15000

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    M140 S{BED_TEMP}
    M104 S150

    G28


    # Move a cabeça para a posição inicial enquanto termina de esquentar
    G90
    G1 Z5 F3000
    G1 X2 Y10 F3000

    # Aguarda a mesa atingir o valor (libera 1°C antes para acelerar)
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1}

    # Liga o aquecimento final do bico e libera assim que entrar na janela (sem oscilar)
    M104 S{EXTRUDER_TEMP}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-1} MAXIMUM={EXTRUDER_TEMP+2}

    # Faz o segundo Home com tudo quente antes de começar a imprimir
    G28

    BED_MESH_PROFILE LOAD="default"

    # Início da sua linha de purga original
    G92 E0

    G1 Z5 F3000
    G1 X2 Y10 F3000

    G1 Z0.28 F240
    G1 Y140 E10 F1500
    G1 X2.3 F5000
    G1 Y10 E10 F1200
    G92 E0
    
[gcode_macro END_PRINT]
gcode:
    G91
    G1 Z10 F300
    G90
    G1 X5 Y200 F3000
    M140 S0
    M104 S0
    M107
    M84

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# Aumentamos para 5mm para puxar o filamento com vontade e não babar bolinha
variable_extrude: 5.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set home position for x and y #####
  {% set x_home = 0.0 %}
  {% set y_home = 0.0 %}
  ##### calculate safe lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 5.0) %}
      {% set z_safe = 5.0 %} ; Subida relativa de segurança de 5mm
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  
  SAVE_GCODE_STATE NAME=PAUSE_STATE
  PAUSE_BASE
  
  ; Primeiro retrai o filamento bem rápido para cortar a pressão
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F3000
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  
  ; Depois afasta o bico subindo o Z de forma segura
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900  ; Sobe 5mm em relação à peça
    G90
    G1 X{x_home} Y{y_home} F6000 ; Vai direto para o canto (0,0) trocar o filamento
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### restore the saved position and state #####
  RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
  #### set the same speeds used in PAUSE ####
  G1 F900   ; Set the speed for Z-axis (same as in PAUSE)
  G1 F6000  ; Set the speed for X and Y axes (same as in PAUSE)
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY) %}
  {% else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{printer["gcode_macro PAUSE"].extrude|float} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print safely
rename_existing: CANCEL_PRINT_BASE
gcode:

    RESPOND MSG="Canceling print..."

    ; salvar estado atual
    SAVE_GCODE_STATE NAME=CANCEL_STATE

    ; parar extrusão relativa
    G91

    ; retrair um pouco para evitar blob
    G1 E-2 F1800

    ; levantar o bico
    G1 Z10 F300

    ; voltar para coordenadas absolutas
    G90

    ; mover cabeçote para frente/esquerda
    G1 X5 Y220 F5000

    ; desligar tudo
    TURN_OFF_HEATERS
    M107

    ; limpar mesh ativo
    BED_MESH_CLEAR

    ; desabilitar motores
    M84

    ; restaurar estado base
    CANCEL_PRINT_BASE
  